.teacher_section{
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 15px;
}

.connect_teacher_page{
    overflow-y: auto;
    padding: 20px 0;
}

.connect_teacher_wrap{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.connect_teacher_wrap_left{
    display: inline-block;
    width: 66.666%;
    vertical-align: top;
    /* height: 4000px; */
    padding: 0 20px;
}

.connect_teacher_wrap_right{
    display: inline-block;
    width: 33.333%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 380px;
    border: 1px solid;
}
@media(max-width:900px){
    .connect_teacher_wrap_left{
        display: block;
        width: 100%;
    }
    .connect_teacher_wrap_right{
        display: none;
    }
}

#image_wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}

.amenity_element{
    display: inline-block;
    padding: 10px 20px;
}