{% extends "connect_base.html" %}

{% load static_url %}
{% block local_css %}
    
{% endblock %}

{% block top_right %}

{% endblock %} 

{% block content %}
<section id = "connect_main">
</section>

{% endblock %}

{% block local_js_footer %}
    <link rel="stylesheet" href={% static_url "user/css/page/connect_main.css" %}>    
    <script type="text/javascript" src={% static_url "user/js/page/connect_main.js" %}></script>
    <script>
        let connect_main = new ConnectMain("");
        connect_main.draw_init("#connect_main");
        connect_main.draw_search_box();
        connect_main.draw_program_guide();
        connect_main.draw_magazine();
        connect_main.draw_leading_partner_pro();
    </script>
{% endblock %}