.modal{
    position: fixed;
    bottom: 0;
    max-height: 100vh;
    width:100vw;
    /* max-width:600px; */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    /* box-shadow: 0 0 4px 0 #e8e8e8; */
    box-shadow: 0 0 4px 0 #282828;
    border-radius: 3px;
    overflow-y: auto;
}

.modal::before{
    z-index: 1500;
    position: absolute;
    content:"";
    border-right: 15px solid transparent;
    border-top: 15px solid red;
    border-bottom: 15px solid transparent;
    border-left: 0;
    left: 15px;
    top: -10px;
    transform: rotate(45deg);
}

.modal_shade{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#282828;
    opacity:0.1;
    top:0;
    left:0;
    z-index: 49;
}

@media(min-width:600px){
    .modal{
        position: absolute;
        bottom: unset;
        left: unset;
        transform: unset;
    }
}