.list_side_wrapper{
    overflow-y:auto;
    position: absolute;
    top: 105px;
    right: 0;
    width: 100%;
    max-width: 600px;
    z-index: 1;
    background-color: #ffffff;
    height: calc(100% - 105px);
}

