

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); */
/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css); */

*{
  box-sizing: border-box;
}

html, body{
   /* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif; */
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 14px;
   font-weight: 300;
   color: #333;
}

input, textarea, select, button{
  -webkit-appearance: none;
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif; */
}

:focus{
  outline: unset;
}

a{
  text-decoration: none;
  color: inherit;
}

#root{
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.hide_page{
  display: none !important;
}