.profile_brick{
    position: relative;
    display: inline-block;
    width: 46%;
    margin: 2%;
    max-width: 250px;
}

.profile_brick:before{
    content: "";
    display: block;
    padding-top: 130%;
}
