/* 예/아니오 등 기본 팝업 CSS */

/*모바일 팝업 페이지 기본 요소*/
    .popup_mobile{
        background-color: var(--bg-main);
        width: 100%;
        height: 100%;
        transform: translate(100%, 0%);
        top: 0;
        /*display: none;*/
        visibility: hidden;
        position: fixed;
        /* position: fixed; */
        overflow: hidden;
    }
    @media(min-width:650px){
        .popup_mobile{
            position: absolute;
            box-shadow: 0 0 24px 0 #28282870;
            border-radius: 10px;
        }
    }
        .popup_mobile .wrapper_top{
            line-height: 20px;
            height: 60px;
            text-align: center;
            /* padding: 20px 16px 20px 16px; */
            padding: 0;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            background-color: var(--bg-main);
            box-sizing: border-box;
            border-bottom: var(--border-article);
            position: fixed;
            width: 100%;
            z-index: 2;
        }
        @media(min-width:650px){
            .popup_mobile .wrapper_top{
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
            .popup_mobile .wrapper_top .logo_pters{
                width: 80px;
                vertical-align: top;
            }
            .popup_mobile .wrapper_top .obj_icon_x{
                /* float: right; */
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .popup_mobile .wrapper_top .obj_icon_prev{
                /* float: left; */
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .popup_mobile .wrapper_top .icon_center{
                font-size: 15px;
                font-weight: 500;
                color: var(--font-main);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .popup_mobile .wrapper_top .icon_right{
               float: right;
               font-size: 14px;
               height: 60px;
            }
            /* .popup_mobile .wrapper_top .icon_right > img{
                padding: 18px 16px 18px 18px;
                cursor: pointer;
            } */
            .popup_mobile .wrapper_top .icon_right > svg{
                padding: 18px 16px 18px 18px;
                cursor: pointer;
            }
            .popup_mobile .wrapper_top .icon_right > span{
                padding: 18px 16px 18px 18px;
                line-height: 60px;
                cursor: pointer;
            }
            .popup_mobile .wrapper_top .icon_left{
                float: left;
                font-size: 14px;
                height: 60px;
                cursor: pointer;
             }
             /* .popup_mobile .wrapper_top .icon_left > img{
                padding: 18px 18px 18px 16px;
             } */
             .popup_mobile .wrapper_top .icon_left > svg{
                padding: 18px 18px 18px 16px;
             }
             .popup_mobile .wrapper_top .icon_left > span{
                padding: 18px 16px 18px 18px;
                line-height: 60px;
            }
        
        .popup_mobile .wrapper_middle{
            width: 100%;
            overflow-y:auto;
            -webkit-overflow-scrolling: touch;
            height: 100%;
            padding: 60px 0;
            box-sizing: border-box;
        }

        .popup_mobile.popup_full{
            /* background-color: #f2f2f2; */
            background-color: var(--bg-main);
            border-top-right-radius: 8px; 
            border-top-left-radius: 8px;
        }
        .popup_mobile.popup_no_border_radius{
            border-radius: 0;
        }
            .popup_mobile.popup_full .wrapper_top{
                background-color: var(--bg-main);
                border-top-right-radius: 8px; 
                border-top-left-radius: 8px;
            }
            .popup_mobile.popup_no_border_radius .wrapper_top{
                border-radius: 0;
            }
            .popup_mobile.popup_full .wrapper_top .obj_icon_x{
                margin-top: 4px;
            }


		.popup_mobile > .obj_button_big{
			bottom: 0;
		}

       /* .popup_mobile.popup_full .obj_font_size_18_weight_900{
            position: absolute;
            top: 20px;
        }
*/