.root_top{
    flex-basis:60px;
    min-height: 60px;
    line-height: 60px;
    width: 100%;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 15;
    background-color: #ffffff;
}

#root_top_logo{
    /* width: 35px; */
    width: 85px;
    height: 60px;
    margin: 0 10px;
    background: url("../res/logo/logo_.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#root_top_spacer{
    flex-grow: 1;
}

#root_top_menu{
    width: 35px;
    text-align: center;
    margin:0 10px
}
