.root_content_top{
    /* flex-basis:60px; */
    /* min-height: 60px; */
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 3px 0 rgba(17,17,17,.15);
    background-color: #ffffff;
    padding: 5px 0;
}

.root_content_top .search_tool{
    display: flex;
    padding: 5px 15px;
}


.root_content_top .search_input_wrap{
    flex: 1 1 0;
}

.root_content_top .seach_type_button_wrap{
    flex-basis: 80px;
    text-align: right;
}

.root_content_top .item{
    height: 40px;
    line-height: 38px;
    color: #fe4e65;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    width: 60px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}