.top_banner{
    position: relative;
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 32px 0;
}

@media(min-width:600px){
    .top_banner{

    }
}
